/* EXTERNAL FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@font-face {
    font-family: 'Ruler Stencil';
    src: url('../assets/fonts/Ruler\ Stencil\ Italic.ttf') format('truetype')
}

/* UNIVERSAL */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;

    /* DEFAULT FONT FAMILY */
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 2.25rem;
    text-transform: uppercase;
    text-align: center;
}
section:not(#landing) {
    padding: 54px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}
section:not(#landing):last-of-type {
    border: none;
}
section img {
    width: 100%;
}
.hidden {
    display: none;
}

/* NAVIGATION */

/* MAIN */

/* LANDING */
#landing {
    width: 100%;
    height: 100vh;  
    position: relative;  

    background-image: url(../assets/landing-img.jpg);
    background-size: cover;
    background-position: center center;
}
#landing-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
#landing-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3.5rem;
    color: #FFF;
    text-align: center;

    text-shadow: 0 0 6px rgba(255, 255, 255, 0.65);
}

/* ORDER FORM */
#stencil-text-container {
    background-color: #000;
    color: #FFF;

    max-width: 400px;
    margin: 0 auto;
    padding: 0.25rem;
}
#stencil-text-container span {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Ruler Stencil', sans-serif !important;
}
#stencil-image {
    max-width: 200px;
}
#order-second-half {
    text-align: center;
}
#modal-design-image {
    width: 75%;
}
#order-form label {
    line-height: 0.9rem;
}

/* CONTACT FORM */
#contact textarea {
    resize: none;
}

/* FOOTER */
footer {
    padding: 0.5rem 0;
    background-color: #343A40;
    color: #FFF;
    text-align: center;
}
#copyright {
    font-size: 0.9rem;
}
#powered {
    font-size: 1.05rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    section:not(#landing) {
        padding: 54px 10px;
    }

    #order-second-half {
        border-top: 1px solid rgba(0, 0, 0, 0.65);
        padding-top: 0.8rem;
        margin-top: 0.8rem;
    }
}